* {
	margin: 0;
	padding: 0;
}

header {
  align-content: center;
}

#container {
	display: flex;
	justify-content: space-between;
	width: 50vw;
	height: 50vh;
	background: black;
	margin: 20vh auto;
	background: #DEB887;
	border-radius: 8px;
	box-shadow: 0 20px 30px #DEB887;
}

.container-items {
	position: absolute ;
	display: flex;
	width: 50vw;
	height: 50vh;
	overflow: hidden; /*aparecer somente o que ta dentro*/ 
}

.item {
width: 50vw;
height: 50vh;
transition: all 1s;
}

.item img{
width: 50vw;
height: 50vh;
border-radius: 8px;
}

.item:first-child{
	margin-left: -100%;
}

.action-button {
font: bold 30px sans-serif;
justify-content: center;
align-items: center;
display: flex;
width: 50px;
color: #00000055;
user-select: none;
z-index: 1;
}

.action-button:hover{
 color: white;
 border-radius: 8px;
 cursor: pointer;
 transition: all 1s;
}